* {
    box-sizing: border-box;
}

li,
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.stylingButtons {
    padding: .4em;
    border-radius: 2px;
    font-size: .9em;
}

.blue {
    background-color: #008CBA;
}

.gray {
    background-color: gray;
}

.green {
    background-color: #4CAF50;
}

.red {
    background-color: #f44336;
}

.buttonTextWt {
    color: white;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.messages {
    padding-left: 5em;
    margin: .5em 0;
}

input,
textarea,
select {
    display: block;
    width: 100%;
}

iframe {
    flex-grow: 1;
}

html {
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-weight: normal;
}

header {
    display: flex;
    align-items: center;
}

header nav {
    width: 100%;
}

header .innerNav {
    display: grid;
    grid-template-columns: [first] 15% [second] 70% [third] 15%;
    margin: .5em 0;
}

header .innerNav .logoMenu {
    grid-column: second / third;
    grid-gap: 5%;
    display: flex;
    justify-content: space-evenly;
}

header .innerNav .intranetMenu {
    grid-column: third / end;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .innerNav .intranetMenu .innerIntranetMenu {
    position: relative;
    display: inline-block;
}

header .innerNav .intranetMenu .dropdownIntranet {
    position: absolute;
    display: none;
    z-index: 1;
    padding: 1em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    right: .5em;
}

header .innerNav .intranetMenu .dropdownIntranet a {
    display: block;
    margin: .5em 0 .5em;
    cursor: pointer;
}

header .innerNav .intranetMenu .intranetMenuBtn {
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 0.9em;
}

.showMenu {
    display: block !important;
}

header .innerNav .mobileMenu {
    display: none;
}

header nav .innerNav .logoMenu .logo {
    display: flex;
    align-items: center;
}

header nav .innerNav .logoMenu .logo .imageLogo {
    width: 8em;
    height: auto;
}

header .innerNav .logoMenu .logo .imageLogo img {
    width: 100%;
    height: 100%;
}

header nav .innerNav .logoMenu .logo .nameLogo h3 {
    font-size: 1.3rem;
    line-height: 0.9;
    font-weight: 600;
}

header nav .innerNav .logoMenu .logo .nameLogo h3 span {
    font-size: 1.3em;
}

header .innerNav .logoMenu .menu ul li a {
    font-size: 1.2em;
}

header .innerNav .logoMenu .menu ul {
    display: flex;
}

header .innerNav .logoMenu .menu ul li:nth-child(-n+4) {
    margin-right: 2em;
}

header .innerNav .logoMenu .menu {
    display: flex;
    align-items: center;
}

/* end header */

/* home */

/* bienvenidos */

.bienvenidos {
    min-height: 92vh;
    display: flex;
    flex-direction: column;
}

.bienvenidos .innerBienvenidos {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.bienvenidos .top,
.bienvenidos .top img {
    width: 100%;
    height: auto;
}

.bienvenidos .innerBienvenidos .bottom {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.bienvenidos .bottom .innerBottom {
    margin: 6em 0;
}

.bienvenidos .bottom p {
    font-family: 'Myriad Pro Regular';
    line-height: 1.7;
    font-size: 1.3em;
    text-align: center;
}

/* end */

/* equipo */

.equipo {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.equipo .innerEquipo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.equipo .innerEquipo .top,
.equipo .top img {
    width: 100%;
    height: auto;
}

.equipo .innerEquipo .bottom {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.equipo .innerEquipo .bottom .innerBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
    margin: 8em 0;
}

.equipo .bottom .innerBottom>div {
    width: 20em;
    height: auto;
    text-align: center;
}

.equipo .bottom .innerBottom h3 {
    margin-bottom: -1em;
    font-family: 'Myriad Pro Regular';
}

.equipo .bottom .innerBottom img {
    width: 100%;
    height: 100%;
}

/* end */

/* servicios */

.servicios {
    min-height: 100vh;
}

.servicios .top,
.servicios .top img {
    width: 100%;
    height: auto;
}


.servicios .innerServicios .bottom .innerBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8em 0;
}

.servicios .innerServicios .bottom .innerBottom>div {
    display: flex;
    width: 75%;
    align-items: center;
}

.servicios .innerServicios .bottom .innerBottom>div .iconText h4 {
    font-family: 'Myriad Pro Regular';
    text-align: center;
}

.servicios .innerServicios .bottom .innerBottom>div ul.dashed>li {
    margin-left: 15px;
}

.servicios .innerServicios .bottom .innerBottom>div ul {
    line-height: 1.5;
    width: 80%;
    margin-left: 5em;
}

/* Prevent nested li's from getting messed up */
.servicios .innerServicios .bottom .innerBottom>div ul.dashed>li::before {
    content: "-";
    margin-left: -15px;
}

.servicios .innerServicios .bottom .innerBottom>div ul li {
    font-family: 'Myriad Pro Regular';
    font-size: 1.2em;
}

.servicios .innerServicios .bottom .innerBottom>div:nth-child(-n+2) {
    margin-bottom: 2em;
}

.servicios .innerServicios .bottom>div .iconText {
    width: 20%;
    height: auto;
}

.servicios .innerServicios .bottom>div .iconText>div {
    width: 7em;
}

.servicios .innerServicios .bottom>div .iconText img {
    width: 100%;
    height: 100%;
}


/* end */

/* noticias */

.noticias {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.noticias .top,
.noticias .top img {
    width: 100%;
    height: auto;
}

.noticias .innerNoticias {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.noticias .innerNoticias .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.noticias .innerNoticias .bottom .innerBottom {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    margin: 7em 0;
    padding: 0 4em;
}

.noticias .innerNoticias .bottom .innerBottom .subtitle {
    margin-bottom: 2em;
    font-size: 1.2em;
    text-align: center;
}

.noticias .innerNoticias .bottom .innerBottom .news,
.noticias .innerNoticias .bottom .innerBottom .noNews,
.noticias .innerNoticias .bottom .innerBottom .link {
    margin: 1em 0;
}

.noticias .innerNoticias .bottom p,
.noticias .innerNoticias .bottom h3 {
    font-family: 'Myriad Pro Regular';
}

.noticias .innerNoticias .bottom .news .date,
.noticias .innerNoticias .bottom .link .date {
    display: flex;
    justify-content: end;
}

.noticias .innerNoticias .bottom h5 {
    margin-top: -.2em;
    color: gray;
}

.noticias .innerNoticias .innerBottom .gotoNoticia {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.noticias .innerNoticias .innerBottom .bottomNav {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.noticias .innerNoticias .innerBottom .bottomNav a {
    color: white;
}

.noticias .bottom .innerBottom .news p,
.noticias .bottom .innerBottom .link p {
    font-size: 1.3em;
}

.noticias .bottom .innerBottom .news h3,
.noticias .bottom .innerBottom .link h3 {
    font-size: 1.5em;
}

.noticias .bottom .innerBottom .link .innerLink .linkImage {
    width: 40em;
    height: auto;
    margin-bottom: 4em;
}

.noticias .bottom .innerBottom .link .innerLink .linkImage img {
    width: 100%;
    height: 100%;
}

/* noticias All */

.noticiasAll {
    min-height: 100vh;
}

.noticiasAll .top,
.noticiasAll .top img {
    width: 100%;
    height: auto;
}

.noticiasAll .innerNoticias .bottom .innerBottom>div>h1 {
    text-align: center;
}

.noticiasAll .innerNoticias .bottom .innerBottom {
    margin: 7em 0;
    padding: 0 4em;
}

.noticiasAll .innerNoticias .bottom .innerBottom .news,
.noticiasAll .innerNoticias .bottom .innerBottom .noNews,
.noticiasAll .innerNoticias .bottom .innerBottom .link {
    margin: 3em 0;
}

.noticiasAll .innerNoticias .bottom p,
.noticiasAll .innerNoticias .bottom h4 {
    font-family: 'Myriad Pro Regular';

}

.noticiasAll .innerNoticias .bottom .news .title {
    margin-bottom: 4em;
}

.noticiasAll .innerNoticias .bottom .news .content {
    margin-top: 5em;
}

.noticiasAll .innerNoticias .bottom .news .content p {
    font-size: 1.3em;
}

.noticiasAll .innerNoticias .bottom .news .subtitle p {
    font-size: 1.4em;
    margin-bottom: .1em;
}

.noticiasAll .innerNoticias .bottom .news .date,
.noticiasAll .innerNoticias .bottom .link .date {
    display: flex;
    justify-content: end;
}

.noticiasAll .innerNoticias .date h5 {
    margin-top: -.2em;
    color: gray;
}

.noticiasAll .innerNoticias .innerBottom .bottomNav {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.noticiasAll .innerNoticias .innerBottom .bottomNav a {
    color: white;
}

.noticiasAll .innerNoticias .innerBottom .gotoNoticia {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.noticiasAll .innerNoticias .innerBottom .link .innerLink .linkImage {
    width: 40em;
    height: auto;
    margin-bottom: 4em;
}

.noticiasAll .innerNoticias .innerBottom .link .innerLink .linkImage img {
    width: 100%;
    height: 100%;
}

/* show noticia */

.showNoticia {
    min-height: 100vh;
}

.showNoticia .top,
.showNoticia .top img {
    width: 100%;
    height: auto;
}

.showNoticia .innerShowNoticia .top h1 {
    text-align: center;
}

.showNoticia .innerShowNoticia .bottom .innerBottom {
    margin: 7em 0;
    padding: 4em;
}

.showNoticia .innerShowNoticia .bottom .content {
    margin-top: 4em;
}

.showNoticia .innerShowNoticia .bottom .subtitle p {
    font-size: 1.4em;
    margin-bottom: .1em;
}

.showNoticia .innerShowNoticia .bottom .title {
    margin-bottom: 4em;
}

.showNoticia .innerShowNoticia .bottom .content p {
    font-size: 1.3em;
}

.showNoticia .innerShowNoticia .bottom .date {
    display: flex;
    justify-content: end;
}

.showNoticia .innerShowNoticia .bottom .date h5 {
    color: gray;
}

.showNoticia .innerShowNoticia .buttonsNav {
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

/* end */

/* contacto */

.contacto {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contacto .top,
.contacto .top img {
    width: 100%;
    height: auto;
}

.contacto .innerContacto {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.contacto .innerContacto .bottom {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.contacto .innerContacto .bottom .innerBottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    margin: 4em 0;
}

.contacto .innerContacto .bottom .innerBottom .contactForm {
    width: 55%;
}

.grecaptcha-badge {
    visibility: hidden;
}

.contacto .innerContacto .bottom .innerBottom .contactData {
    height: auto;
    display: flex;
    justify-content: end;
    align-items: center;
}

.contacto .innerContacto .bottom .iconContact {
    margin: 1em 0 .5em 0;
    display: flex;
    justify-content: center;
}

.contacto .innerContacto .bottom .iconContact .innerIconContact {
    width: 3em;
}

.contacto .innerContacto .bottom .innerContactData>a:nth-child(-n+4)>h4 {
    margin-bottom: -1em;
}

.contacto .innerContacto .bottom .contactData h4 {
    font-size: 1.1em;
    text-align: center;
}

.contacto .innerContacto .bottom .iconContact img {
    width: 100%;
    height: 100%;
}

.contact form {
    font-size: 1.2em;
    width: 50vw;
    display: flex;
    justify-content: center;
}

.contacto .innerForm {
    width: 100%;
}

.contacto .innerForm div {
    padding: 1em 0 .5em 0;
}

.contacto .inputRow {
    display: flex;
}

.contacto .inputRow div {
    width: 50%;
}

.contacto .inputRow div:first-child {
    margin-right: 2em;
}

.contacto .inputRow input {
    margin-top: .4em;
    width: 100%;
    line-height: 2em;
}

.contacto .inputComments textarea {
    width: 100%;
    height: 5em;
    margin-top: .5em;
}

.contacto .submitButtom button {
    padding: 0.3em .5em;
    color: white;
}

.contacto .submitButtom {
    text-align: center;
    font-size: 1.2em;
}

/* footer */

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

footer .innerFooter {
    border-top: 1px solid gray;
    width: 90%;
    display: flex;
    justify-content: space-around;
    padding: 3em 0;
}

footer .innerFooter .publicAdtion .innerPublicAdtion .iconLinks {
    display: flex;
    margin-top: 2em;
}

footer .innerFooter .publicAdtion .innerPublicAdtion .innerIconLinks:nth-child(1) {
    width: 9em;
    height: auto;
    margin-right: 2em;
}

footer .innerFooter .publicAdtion .innerPublicAdtion .innerIconLinks:nth-child(2) {
    width: 6em;
    height: auto;
}

footer .innerFooter .publicAdtion .innerPublicAdtion .innerIconLinks img {
    width: 100%;
    height: 100%;
}

footer .websiwebs {
    display: flex;
    justify-content: end;
    width: 100%;
    margin: 2em 7em .5em 0;
}

/* cookies */

.legal .innerLegal {
    margin: 5em 0;
    padding: 0 5em;
}

.legal .innerLegal .top {
    margin-bottom: 4em;
}

.legal .innerLegal .bottom .innerBottom h4 {
    margin: 3em 0 2em 0;
}

.legal .innerLegal .bottom .innerBottom .columnsDiv {
    display: flex;
    justify-content: space-around;
}

.legal .innerLegal .bottom .innerBottom .columnsDiv h5 {
    width: 30%;
}

.legal .innerLegal .bottom .innerBottom .columnsDiv p {
    width: 70%;
}

/* consent */

.cookieConsent {
    width: 100%;
    background-color: #F5F5F5;
    position: fixed;
    bottom: 0;
}

.cookieConsent .innerCookieConsent {
    padding: 1em 3em;
}

.cookieConsent .innerCookieConsent .info {
    margin-bottom: 1em;
}

.cookieConsent .innerCookieConsent .acceptBtn {
    display: flex;
    justify-content: center;
}

.cookieConsent .innerCookieConsent .acceptBtn button:nth-child(1) {
    margin-right: 4em;
}

/* maintenance */

.maintenance {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.maintenance .innerMaintenance {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
}

.maintenance .innerMaintenance .top .innerTop {
    display: flex;
    justify-content: center;
    text-align: center;
}

.maintenance .innerMaintenance .top .innerTop h4 {
    line-height: 2;
}

.maintenance .innerMaintenance .bottom .innerBottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.maintenance .innerMaintenance .bottom .innerBottom .logo a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.maintenance .innerMaintenance .bottom .innerBottom .logo div {
    width: 12em;
    height: auto;
}

.maintenance .innerMaintenance .bottom .innerBottom .logo img {
    width: 100%;
    height: 100%;
}

.maintenance .innerMaintenance .bottom .innerBottom .contactData .innerContactData h4 {
    text-align: center;
}

.maintenance .innerMaintenance .bottom .innerBottom .contactData .innerContactData .iconContact {
    display: flex;
    justify-content: center;
}

.maintenance .innerMaintenance .bottom .innerBottom .contactData .innerContactData .iconContact .innerIconContact {
    width: 4em;
    height: auto;
}

.maintenance .innerMaintenance .bottom .innerBottom .contactData .innerContactData .iconContact .innerIconContact img {
    width: 100%;
    height: 100%;
}



/* end */

/* login */

.form-signin .login {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

.form-signin .login form {
    padding: 2em 3em;
    border: 1px solid gray;
}

.form-signin .login form .inputDiv:nth-child(-n+2) {
    margin-bottom: 1.5em;
}

.form-signin .login form .inputDiv .forgetPass {
    margin-top: 0.5em;
}

.form-signin .login form .inputDiv input {
    font-size: 1em;
}

.form-signin .login form .inputDiv label {
    font-size: 1.1em;
}

.form-signin .login form .inputSubmit {
    display: flex;
    justify-content: space-evenly;
}

.form-signin .login form .inputSubmit button {
    font-size: 1em;
    margin-top: 2em;
}

/* end */

/* ResetPassword */

.form-signin .resetPassword {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

.form-signin .resetPassword form {
    padding: 2em 3em;
    border: 1px solid gray;
}

.form-signin .resetPassword form .inputDiv input {
    font-size: 1em;
}

.form-signin .resetPassword form .inputDiv label {
    font-size: 1.1em;
}

.form-signin .resetPassword form .inputSubmit {
    display: flex;
    justify-content: center;
}

.form-signin .resetPassword form .inputSubmit button {
    font-size: 1em;
    margin-top: 2em;
}

/* end */

/* intranet index */

.intranet .innerIntranet {
    padding: 0 4em;
    margin: 5em 0;
}

.intranet .innerIntranet h3 {
    margin-bottom: 3em;
}

.intranet .innerIntranet .areasIntranet ul li a {
    font-size: 1.1em;
}

.intranet .innerIntranet .areasIntranet {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.intranet .innerIntranet .areasIntranet>div {
    width: 20%;
    border: 1px solid lightgray;
    padding: 0 1em 2em 1em;
}

/* end */

/* intranet roles */

.roles .innerRoles {
    padding: 0 4em;
    margin: 5em 0;
}

.roles .innerRoles .bottom {
    margin-top: 2em;
}

.roles .innerRoles .bottom .addRol {
    display: flex;
    justify-content: end;
}

.roles .innerRoles .bottom table {
    margin-top: 2em;
}

.roles .innerRoles .bottom table tr,
.roles .innerRoles .bottom table th,
.roles .innerRoles .bottom table td {
    border: 1px solid gray;
}

.roles .innerRoles .bottom table tr th {
    padding: .5em;
}

.roles .innerRoles .bottom table tr td:nth-child(1) {
    text-align: center;
}

.roles .innerRoles .bottom table tr td:nth-child(n+4) {
    text-align: center;
}

.roles .innerRoles .bottom table tr td:nth-last-child(-n+3) {
    padding: 1em;
}

.roles .innerRoles .backButton {
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

/* create roles */

.createRoles .createInnerRoles {
    padding: 0 4em;
    margin: 5em 0;
}

.createRoles .createInnerRoles .bottom .innerBottom {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.createRoles .createInnerRoles .bottom .addRol {
    display: flex;
    justify-content: end;
}

.createRoles .createInnerRoles .bottom table {
    margin-top: 2em;
}

.createRoles .createInnerRoles .bottom table tr,
.createRoles .createInnerRoles .bottom table th,
.createRoles .createInnerRoles .bottom table td {
    border: 1px solid gray;
}

.createRoles .createInnerRoles .bottom table tr th {
    padding: .5em;
}

.createRoles .createInnerRoles .bottom table tr td:nth-child(1) {
    text-align: center;
}

.createRoles .createInnerRoles .bottom table tr td:nth-child(n+3) {
    text-align: center;
}

.createRoles .createInnerRoles .bottom table tr td {
    padding: 1em;
}

.createRoles .createInnerRoles .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* show roles */

.showRoles .innerShowRoles {
    padding: 0 4em;
    margin: 5em 0;
}

.showRoles .innerShowRoles .bottom {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.showRoles .innerShowRoles .bottom .addRol {
    display: flex;
    justify-content: end;
}

.showRoles .innerShowRoles .bottom table {
    margin-top: 2em;
}

.showRoles .innerShowRoles .bottom table tr,
.showRoles .innerShowRoles .bottom table th,
.showRoles .innerShowRoles .bottom table td {
    border: 1px solid gray;
}

.showRoles .innerShowRoles .bottom table tr th {
    padding: .5em;
}

.showRoles .innerShowRoles .bottom table tr td:nth-child(2) {
    text-align: center;
}

.showRoles .innerShowRoles .bottom table tr td {
    padding: 1em;
}

.showRoles .innerShowRoles .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* edit roles */

.editRoles .innerEditRoles {
    padding: 0 4em;
    margin: 5em 0;
}

.editRoles .innerEditRoles .bottom {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.editRoles .innerEditRoles .bottom .addRol {
    display: flex;
    justify-content: end;
}

.editRoles .innerEditRoles .bottom table {
    margin-top: 2em;
}

.editRoles .innerEditRoles .bottom table tr,
.editRoles .innerEditRoles .bottom table th,
.editRoles .innerEditRoles .bottom table td {
    border: 1px solid gray;
}

.editRoles .innerEditRoles .bottom table tr th {
    padding: .5em;
}

.editRoles .innerEditRoles .bottom table tr td:nth-child(2) {
    text-align: center;
}

.editRoles .innerEditRoles .bottom table tr td {
    padding: 1em;
}

.editRoles .innerEditRoles .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* permissions roles */

.permissions .innerPermissions {
    padding: 0 4em;
    margin: 5em 0;
}

.permissions .innerPermissions .bottom {
    margin-top: 2em;
}

.permissions .innerPermissions .bottom .addPermission {
    display: flex;
    justify-content: end;
}

.permissions .innerPermissions .bottom table {
    margin-top: 2em;
}

.permissions .innerPermissions .bottom table tr,
.permissions .innerPermissions .bottom table th,
.permissions .innerPermissions .bottom table td {
    border: 1px solid gray;
}

.permissions .innerPermissions .bottom table tr th {
    padding: .5em;
}

.permissions .innerPermissions .bottom table tr td:nth-child(2) {
    text-align: center;
}

.permissions .innerPermissions .bottom table tr td {
    padding: 1em;
}

.permissions .innerPermissions .buttonsNav {
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

/* edit permissions roles */

.editPermissions .innerEditPermissions {
    padding: 0 4em;
    margin: 5em 0;
}

.editPermissions .innerEditPermissions .bottom .innerBottom {
    margin-top: 6em;
    display: flex;
    justify-content: center;
}

.editPermissions .innerEditPermissions .bottom form {
    width: 50%;
}


.editPermissions .innerEditPermissions .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* add permissions roles */

.addPermissions .innerAddPermissions {
    padding: 0 4em;
    margin: 5em 0;
}

.addPermissions .innerAddPermissions .bottom .innerBottom {
    display: flex;
    justify-content: center;
}

.addPermissions .innerAddPermissions .bottom form {
    margin-top: 6em;
    width: 50%;
}


.addPermissions .innerAddPermissions .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* users */

.users .innerUsers {
    padding: 0 4em;
    margin: 5em 0;
}

.users .innerUsers .bottom {
    margin-top: 2em;
}

.users .innerUsers .bottom .addDelButtons {
    display: flex;
    justify-content: space-between;
}

.users .innerUsers .bottom table {
    margin-top: 2em;
}

.users .innerUsers .bottom table tr,
.users .innerUsers .bottom table th,
.users .innerUsers .bottom table td {
    border: 1px solid gray;
}

.users .innerUsers .bottom table tr th {
    padding: .5em;
}

.users .innerUsers .bottom table tr td:nth-child(2) {
    text-align: center;
}

.users .innerUsers .bottom table tr td {
    padding: 1em;
}


.users .innerUsers .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* users show */

.usersShow {
    min-height: 85vh;
}

.usersShow .innerUsersShow {
    padding: 0 4em;
    margin: 5em 0;
}

.usersShow .innerUsersShow .bottom .innerBottom {
    margin-top: 5em;
    padding: 1em;
    line-height: 1.8;
}

.usersShow .innerUsersShow .bottom table tr,
.usersShow .innerUsersShow .bottom table th,
.usersShow .innerUsersShow .bottom table td {
    border: 1px solid gray;
}

.usersShow .innerUsersShow .bottom table tr th,
.usersShow .innerUsersShow .bottom table tr td {
    padding: .5em;
}

.usersShow .innerUsersShow .bottom {
    display: flex;
    justify-content: center;
}

.usersShow .innerUsersShow .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* edit users */

.editUsers {
    min-height: 85vh;
}

.editUsers .innerEditUsers {
    padding: 0 4em;
    margin: 5em 0;
}

.editUsers .innerEditUsers .bottom .innerBottom {
    margin-top: 4em;
    display: flex;
    justify-content: center;
}

.editUsers .innerEditUsers .bottom form {
    width: 50%;
}

.editUsers .innerEditUsers .bottom form .inputDiv {
    margin: 2em 0;
}

.editUsers .innerEditUsers .bottom form .inputDiv label,
.editUsers .innerEditUsers .bottom form .inputDiv input,
.editUsers .innerEditUsers .bottom form .inputDiv select {
    font-size: 1.1em;
}

.editUsers .innerEditUsers .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* create users */

.createUsers .innerCreateUsers {
    padding: 0 4em;
    margin: 5em 0;
}

.createUsers .innerCreateUsers .bottom .innerBottom {
    margin-top: 4em;
    display: flex;
    justify-content: center;
}

.createUsers .innerCreateUsers .bottom form {
    width: 50%;
}

.createUsers .innerCreateUsers .bottom form .inputDiv {
    margin: 2em 0;
}

.createUsers .innerCreateUsers .bottom form .inputDiv label {
    margin-right: 2em;
}

.createUsers .innerCreateUsers .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* employees */

.employees .innerEmployees {
    padding: 0 4em;
    margin: 5em 0;
}

.employees .innerEmployees .bottom .addDelButtons {
    display: flex;
    justify-content: space-between;
}

.employees .innerEmployees .bottom table {
    margin-top: 2em;
}

.employees .innerEmployees .bottom table tr,
.employees .innerEmployees .bottom table th,
.employees .innerEmployees .bottom table td {
    border: 1px solid gray;
}

.employees .innerEmployees .bottom table tr th {
    padding: .5em;
}

.employees .innerEmployees .bottom table tr td:nth-child(2) {
    text-align: center;
}

.employees .innerEmployees .bottom table tr td {
    padding: 1em;
}


.employees .innerEmployees .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* employees show */

.employeesShow {
    min-height: 85vh;
}

.employeesShow .innerEmployeesShow {
    padding: 0 4em;
    margin: 5em 0;
}

.employeesShow .innerEmployeesShow .bottom .innerBottom {
    margin-top: 5em;
    padding: 1em;
    line-height: 1.8;
}

.employeesShow .innerEmployeesShow .bottom table tr,
.employeesShow .innerEmployeesShow .bottom table th,
.employeesShow .innerEmployeesShow .bottom table td {
    border: 1px solid gray;
}

.employeesShow .innerEmployeesShow .bottom table tr th,
.employeesShow .innerEmployeesShow .bottom table tr td {
    padding: .5em;
}

.employeesShow .innerEmployeesShow .bottom {
    display: flex;
    justify-content: center;
}

.employeesShow .innerEmployeesShow .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* employees create */

.employeesCreate .innerEmployeesCreate {
    padding: 0 4em;
    margin: 5em 0;
}

.employeesCreate .innerEmployeesCreate .bottom .innerBottom {
    margin-top: 4em;
    display: flex;
    justify-content: center;
}

.employeesCreate .innerEmployeesCreate .bottom form {
    width: 50%;
}

.employeesCreate .innerEmployeesCreate .bottom form .inputForm {
    margin: 1em 0;
}

.employeesCreate .innerEmployeesCreate .bottom form .inputForm input {
    font-size: 1em;
}


.employeesCreate .innerEmployeesCreate .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* employees edit */

.employeesEdit .innerEmployeesEdit {
    padding: 5em 4em;
}

.employeesEdit .innerEmployeesEdit .bottom form {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.employeesEdit .innerEmployeesEdit .bottom form .inputForm {
    margin: 1em 0;
}

.employeesEdit .innerEmployeesEdit .bottom form .inputForm input {
    font-size: 1em;
}

.employeesEdit .innerEmployeesEdit .bottom form .buttonsNav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* upload payrolls */

.payrollsUpload .innerPayrollsUpload {
    padding: 0 4em;
    margin: 5em 0;
}

.payrollsUpload .innerPayrollsUpload .bottom .innerBottom {
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

.payrollsUpload .innerPayrollsUpload .bottom form {
    border: 1px solid gray;
    padding: 3em 3em 5em;
    background-color: #F5F5F5;
}

.payrollsUpload .innerPayrollsUpload .bottom form .inputForm {
    margin-top: 2em;
}

.payrollsUpload .innerPayrollsUpload .bottom form .inputForm input,
.payrollsUpload .innerPayrollsUpload .bottom form .inputForm select,
.payrollsUpload .innerPayrollsUpload .bottom form .inputForm label {
    font-size: 1em;
}

.payrollsUpload .innerPayrollsUpload .bottom form .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* download payrolls */

.payrollsDownload .innerPayrollsDownload {
    padding: 0 4em;
    margin: 5em 0;
}

.payrollsDownload .innerPayrollsDownload .bottom .innerBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6em;
}

.payrollsDownload .innerPayrollsDownload .bottom form {
    width: 40%;
    border: 1px solid gray;
    padding: 3em 3em 5em;
    background-color: #F5F5F5;
}

.payrollsDownload .innerPayrollsDownload .bottom form .inputForm input,
.payrollsDownload .innerPayrollsDownload .bottom form .inputForm select,
.payrollsDownload .innerPayrollsDownload .bottom form .inputForm label {
    font-size: 1em;
}

.payrollsDownload .innerPayrollsDownload .bottom form .inputForm {
    margin: 2em 0;
}

.payrollsDownload .innerPayrollsDownload .bottom .downloadButton {
    margin-top: 2em;
}

.payrollsDownload .innerPayrollsDownload .bottom .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* form payrolls */

.payrollsForm .innerPayrollsForm {
    padding: 0 4em;
    margin: 5em 0;
}

.payrollsForm .innerPayrollsForm .bottom .innerBottom {
    display: flex;
    justify-content: center;
    margin-top: 6em;
}

.payrollsForm .innerPayrollsForm .bottom form .inputForm {
    margin: 2em 0;
}


.payrollsForm .innerPayrollsForm .bottom form {
    width: 30%;
    border: 1px solid gray;
    padding: 3em 3em 5em;
    background-color: #F5F5F5;
}

.payrollsForm .innerPayrollsForm .bottom form .inputForm input,
.payrollsForm .innerPayrollsForm .bottom form .inputForm label,
.payrollsForm .innerPayrollsForm .bottom form .inputForm select {
    font-size: 1em;
}

.payrollsForm .innerPayrollsForm .bottom form .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* payrolls show */

.payrollsShow .innerPayrollsShow {
    padding: 0 4em;
    margin: 5em 0;
}

.payrollsShow .innerPayrollsShow .bottom .addDelButtons {
    display: flex;
    justify-content: space-between;
}

.payrollsShow .innerPayrollsShow .bottom table {
    margin-top: 2em;
}

.payrollsShow .innerPayrollsShow .bottom table tr,
.payrollsShow .innerPayrollsShow .bottom table th,
.payrollsShow .innerPayrollsShow .bottom table td {
    border: 1px solid gray;
}

.payrollsShow .innerPayrollsShow .bottom table tr th {
    padding: .5em;
}

.payrollsShow .innerPayrollsShow .bottom table tr td:nth-child(2) {
    text-align: center;
}

.payrollsShow .innerPayrollsShow .bottom table tr td {
    padding: 1em;
}


.payrollsShow .innerPayrollsShow .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* upload costs inputs */

.costsImputsUpload .innerCostsImputsUpload {
    padding: 0 4em;
    margin: 5em 0;
}

.costsImputsUpload .innerCostsImputsUpload .bottom .innerBottom {
    display: flex;
    justify-content: center;
    margin-top: 6em;
}

.costsImputsUpload .innerCostsImputsUpload .bottom form .inputForm input,
.costsImputsUpload .innerCostsImputsUpload .bottom form .inputForm label,
.costsImputsUpload .innerCostsImputsUpload .bottom form .inputForm select {
    font-size: 1em;
}

.costsImputsUpload .innerCostsImputsUpload .bottom form {
    border: 1px solid gray;
    padding: 3em 3em 5em;
    background-color: #F5F5F5;
}

.costsImputsUpload .innerCostsImputsUpload .bottom form .inputForm {
    margin-top: 2em;
}

.costsImputsUpload .innerCostsImputsUpload .bottom form .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* download costs inputs */

.costsImputsDownload .innerCostsImputsDownload {
    padding: 0 4em;
    margin: 5em 0;
}

.costsImputsDownload .innerCostsImputsDownload .bottom .innerBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6em;
}

.costsImputsDownload .innerCostsImputsDownload .bottom form {
    width: 40%;
    border: 1px solid gray;
    padding: 3em 3em 5em;
    background-color: #F5F5F5;
}

.costsImputsDownload .innerCostsImputsDownload .bottom form .inputForm input,
.costsImputsDownload .innerCostsImputsDownload .bottom form .inputForm label,
.costsImputsDownload .innerCostsImputsDownload .bottom form .inputForm select {
    font-size: 1em;
}

.costsImputsDownload .innerCostsImputsDownload .bottom form .inputForm {
    margin: 2em 0;
}

.costsImputsDownload .innerCostsImputsDownload .bottom .downloadButton {
    margin-top: 2em;
}

.costsImputsDownload .innerCostsImputsDownload .bottom .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* form costs inputs */

.costsImputsForm .innerCostsImputsForm {
    padding: 0 4em;
    margin: 5em 0;
}

.costsImputsForm .innerCostsImputsForm .bottom .innerBottom {
    display: flex;
    justify-content: center;
    margin-top: 6em;
}

.costsImputsForm .innerCostsImputsForm .bottom form {
    width: 30%;
    border: 1px solid gray;
    padding: 3em 3em 5em;
    background-color: #F5F5F5;
}

.costsImputsForm .innerCostsImputsForm .bottom form .inputForm input,
.costsImputsForm .innerCostsImputsForm .bottom form .inputForm label,
.costsImputsForm .innerCostsImputsForm .bottom form .inputForm select {
    font-size: 1em;
}

.costsImputsForm .innerCostsImputsForm .bottom form .inputForm {
    margin: 2em 0;
}

.costsImputsForm .innerCostsImputsForm .bottom form .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* show costs inputs */

.costsImputsShow .innerCostsImputsShow {
    padding: 0 4em;
    margin: 5em 0;
}

.costsImputsShow .innerCostsImputsShow .bottom table {
    margin-top: 2em;
}

.costsImputsShow .innerCostsImputsShow .bottom table tr,
.costsImputsShow .innerCostsImputsShow .bottom table th,
.costsImputsShow .innerCostsImputsShow .bottom table td {
    border: 1px solid gray;
}

.costsImputsShow .innerCostsImputsShow .bottom table tr th {
    padding: .5em;
}

.costsImputsShow .innerCostsImputsShow .bottom table tr td:nth-child(2) {
    text-align: center;
}

.costsImputsShow .innerCostsImputsShow .bottom table tr td {
    padding: 1em;
}


.costsImputsShow .innerCostsImputsShow .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* others Documents upload */

.othersDocumentsUpload .innerOthersDocumentsUpload {
    padding: 0 4em;
    margin: 5em 0;
}

.othersDocumentsUpload .innerOthersDocumentsUpload .bottom .innerBottom {
    display: flex;
    justify-content: center;
    margin-top: 6em;
}

.othersDocumentsUpload .innerOthersDocumentsUpload .bottom form {
    border: 1px solid gray;
    padding: 3em 3em 5em;
    background-color: #F5F5F5;
}


.othersDocumentsUpload .innerOthersDocumentsUpload .bottom form .inputForm input,
.othersDocumentsUpload .innerOthersDocumentsUpload .bottom form .inputForm label,
.othersDocumentsUpload .innerOthersDocumentsUpload .bottom form .inputForm select {
    font-size: 1em;
}

.othersDocumentsUpload .innerOthersDocumentsUpload .bottom form .inputForm {
    margin: 2em 0;
}

.othersDocumentsUpload .innerOthersDocumentsUpload .bottom form .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* download others documents */

.othersDocumentsDownload .innerOthersDocumentsDownload {
    padding: 0 4em;
    margin: 5em 0;
}

.othersDocumentsDownload .innerOthersDocumentsDownload .bottom .innerBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6em;
}

.othersDocumentsDownload .innerOthersDocumentsDownload .bottom form {
    width: 70%;
    border: 1px solid gray;
    padding: 3em 3em 5em;
    background-color: #F5F5F5;
}

.othersDocumentsDownload .innerOthersDocumentsDownload .bottom form .inputForm input,
.othersDocumentsDownload .innerOthersDocumentsDownload .bottom form .inputForm label,
.othersDocumentsDownload .innerOthersDocumentsDownload .bottom form .inputForm select {
    font-size: 1em;
}

.othersDocumentsDownload .innerOthersDocumentsDownload .bottom form .inputForm {
    margin: 2em 0;
}

.othersDocumentsDownload .innerOthersDocumentsDownload .bottom .downloadButton {
    margin-top: 2em;
}

.othersDocumentsDownload .innerOthersDocumentsDownload .bottom .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* form others Documents */

.othersDocumentsForm .innerOthersDocumentsForm {
    padding: 0 4em;
    margin: 5em 0;
}

.othersDocumentsForm .innerOthersDocumentsForm .bottom .innerBottom {
    display: flex;
    justify-content: center;
    margin-top: 6em;
}

.othersDocumentsForm .innerOthersDocumentsForm .bottom form {
    width: 40%;
    border: 1px solid gray;
    padding: 3em 3em 5em;
    background-color: #F5F5F5;
}

.othersDocumentsForm .innerOthersDocumentsForm .bottom form .inputForm input,
.othersDocumentsForm .innerOthersDocumentsForm .bottom form .inputForm label,
.othersDocumentsForm .innerOthersDocumentsForm .bottom form .inputForm select {
    font-size: 1em;
}

.othersDocumentsForm .innerOthersDocumentsForm .bottom form .inputForm {
    margin: 2em 0;
}

.othersDocumentsForm .innerOthersDocumentsForm .bottom form .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* show others documents */

.othersDocumentsShow .innerOthersDocumentsShow {
    padding: 0 4em;
    margin: 5em 0;
}

.othersDocumentsShow .innerOthersDocumentsShow .bottom table {
    margin-top: 2em;
}

.othersDocumentsShow .innerOthersDocumentsShow .bottom table tr,
.othersDocumentsShow .innerOthersDocumentsShow .bottom table th,
.othersDocumentsShow .innerOthersDocumentsShow .bottom table td {
    border: 1px solid gray;
}

.othersDocumentsShow .innerOthersDocumentsShow .bottom table tr th {
    padding: .5em;
}

.othersDocumentsShow .innerOthersDocumentsShow .bottom table tr td:nth-child(2) {
    text-align: center;
}

.othersDocumentsShow .innerOthersDocumentsShow .bottom table tr td {
    padding: 1em;
}


.othersDocumentsShow .innerOthersDocumentsShow .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* list others documents */

.othersDocumentsList .innerOthersDocumentsList {
    padding: 0 4em;
    margin: 5em 0;
}

.othersDocumentsList .innerOthersDocumentsList .bottom table {
    margin-top: 2em;
}

.othersDocumentsList .innerOthersDocumentsList .bottom table tr,
.othersDocumentsList .innerOthersDocumentsList .bottom table th,
.othersDocumentsList .innerOthersDocumentsList .bottom table td {
    border: 1px solid gray;
    text-align: center;
}

.othersDocumentsList .innerOthersDocumentsList .bottom table tr th {
    padding: .5em;
}

.othersDocumentsList .innerOthersDocumentsList .bottom table tr td {
    padding: 1em;
}


.othersDocumentsList .innerOthersDocumentsList .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* end */

/* intranet noticias */

.noticiasIntranet .innerNoticiasIntranet {
    padding: 0 4em;
    margin: 5em 0;
}

.noticiasIntranet .innerNoticiasIntranet .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noticiasIntranet .innerNoticiasIntranet .bottom .createNoticia {
    margin: 4em 0;
}

.noticiasIntranet .innerNoticiasIntranet .bottom table tr,
.noticiasIntranet .innerNoticiasIntranet .bottom table th,
.noticiasIntranet .innerNoticiasIntranet .bottom table td {
    border: 1px solid gray;
}

.noticiasIntranet .innerNoticiasIntranet .bottom table tr th {
    padding: .5em;
}

.noticiasIntranet .innerNoticiasIntranet .bottom table tr td:nth-child(1) {
    text-align: center;
}

.noticiasIntranet .innerNoticiasIntranet .bottom table tr td:nth-child(n+3) {
    text-align: center;
}

.noticiasIntranet .innerNoticiasIntranet .bottom table tr td:last-child {
    padding: 1em;
}

.noticiasIntranet .innerNoticiasIntranet .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* intranet edit noticias */

.noticiasIntranetEdit .innerNoticiasIntranetEdit {
    padding: 0 4em;
    margin: 5em 0;
}

.noticiasIntranetEdit .innerNoticiasIntranetEdit .bottom .innerBottom {
    display: flex;
    justify-content: center;
    margin-top: 6em;
}

.noticiasIntranetEdit .innerNoticiasIntranetEdit .bottom form {
    width: 70%;
}

.noticiasIntranetEdit .innerNoticiasIntranetEdit .bottom form .inputForm input,
.noticiasIntranetEdit .innerNoticiasIntranetEdit .bottom form .inputForm label,
.noticiasIntranetEdit .innerNoticiasIntranetEdit .bottom form .inputForm select,
.noticiasIntranetEdit .innerNoticiasIntranetEdit .bottom form .inputForm textarea {
    font-size: 1em;
}

.noticiasIntranetEdit .innerNoticiasIntranetEdit .bottom form .inputForm {
    margin: 2em 0;
}

.noticiasIntranetEdit .innerNoticiasIntranetEdit .bottom form .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* create noticias */

.createNoticia .innerCreateNoticia {
    padding: 0 4em;
    margin: 5em 0;
}

.createNoticia .innerCreateNoticia .bottom .innerBottom {
    margin-top: 4em;
    display: flex;
    justify-content: center;
}

.createNoticia .innerCreateNoticia .bottom form {
    width: 70%;
}

.createNoticia .innerCreateNoticia .bottom form .inputForm input,
.createNoticia .innerCreateNoticia .bottom form .inputForm select,
.createNoticia .innerCreateNoticia .bottom form .inputForm label,
.createNoticia .innerCreateNoticia .bottom form .inputForm textarea {
    font-size: 1em;
}

.createNoticia .innerCreateNoticia .bottom form .inputForm {
    margin: 2em 0;
}

.createNoticia .innerCreateNoticia .bottom form .inputForm label {
    margin-right: 2em;
}

.createNoticia .innerCreateNoticia .bottom .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* intranet user edit */

.editUser .innerEditUser {
    padding: 0 4em;
    margin: 5em 0;
}

.editUser .innerEditUser .bottom {
    display: flex;
    justify-content: space-evenly;
}

.editUser .innerEditUser .bottom .sideNavButtons button:nth-child(1) {
    display: block;
    margin-bottom: 1em;
}

.editUser .innerEditUser .bottom .sideNavButtons button:nth-child(2) {
    margin-bottom: 2em;
}


.editUser .innerEditUser .bottom .divForm {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.editUser .innerEditUser .bottom .divForm form {
    border: 1px solid gray;
    padding: 3em 3em 5em;
    background-color: #F5F5F5;
}


.editUser .innerEditUser .bottom .sideNavButtons {
    margin-right: 5em;
    margin-top: 3em;
}

.editUser .innerEditUser .bottom form .inputForm input,
.editUser .innerEditUser .bottom form .inputForm label,
.editUser .innerEditUser .bottom form .inputForm select,
.editUser .innerEditUser .bottom form .inputForm textarea {
    font-size: 1em;
}

.editUser .innerEditUser .bottom form .inputForm {
    margin: 2em 0;
}

.editUser .innerEditUser .bottom form .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* intranet pass edit */

.editPass .innerEditPass {
    padding: 0 4em;
    margin: 5em 0;
}

.editPass .innerEditPass .bottom {
    display: flex;
    justify-content: space-evenly;
}

.editPass .innerEditPass .bottom .sideNavButtons button:nth-child(1) {
    display: block;
    margin-bottom: 1em;
}

.editPass .innerEditPass .bottom .sideNavButtons button:nth-child(2) {
    margin-bottom: 2em;
}


.editPass .innerEditPass .bottom .divForm {
    width: 40%;
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.editPass .innerEditPass .bottom .divForm form {
    width: 100%;
    border: 1px solid gray;
    padding: 3em 3em 5em;
    background-color: #F5F5F5;
}


.editPass .innerEditPass .bottom .sideNavButtons {
    margin-right: 5em;
    margin-top: 3em;
}

.editPass .innerEditPass .bottom form .inputForm input,
.editPass .innerEditPass .bottom form .inputForm label,
.editPass .innerEditPass .bottom form .inputForm select,
.editPass .innerEditPass .bottom form .inputForm textarea {
    font-size: 1em;
}

.editPass .innerEditPass .bottom form .inputForm {
    margin: 2em 0;
}

.editPass .innerEditPass .bottom form .buttonsNav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

/* end */


@media (max-width: 767px) {

    header nav .innerNav .logoMenu .logo .nameLogo h3 {
        font-size: 1.3rem;
        line-height: 0.9;
    }

    header nav .innerNav .logoMenu .logo .nameLogo h3 span {
        font-size: 1.4em;
    }

    header nav .innerNav .logoMenu .logo .imageLogo {
        width: 8em;
    }

    header .innerNav .mobileMenu .dropdown {
        right: 0;
    }

    table {
        font-size: 0.7em;
    }

    th,
    td {
        padding: 0 !important;
        margin: 0 !important;
    }

    .paddingFix {
        padding: 5em 1em !important;
    }

    .intranet .innerIntranet .areasIntranet>div {
        width: unset;
    }

    .intranet .innerIntranet {
        padding: 5em 2em;
    }

    .bienvenidos .bottom {
        padding: 0 1.2em;
    }

    .bienvenidos .bottom p {
        font-size: 3.8vw;
        white-space: normal;
    }

    .bienvenidos .bottom .innerBottom {
        margin: 3em 0;
    }

    .equipo .bottom .innerBottom>div {
        max-width: 40%;
    }

    .equipo .innerEquipo .bottom .innerBottom h3 {
        font-size: 1em;
    }

    .equipo .innerEquipo .bottom .innerBottom h4 {
        font-size: .9em;
    }

    .servicios .innerServicios .bottom .innerBottom>div {
        flex-direction: column;
        width: 85%;
        align-items: unset;
    }

    .servicios .innerServicios .bottom .innerBottom>div ul {
        width: unset;
        margin-left: unset;
    }

    .servicios .innerServicios .bottom>div .iconText {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .servicios .innerServicios .bottom .iconText>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 5em;
    }

    .servicios .innerServicios .bottom>div .iconText img {
        width: 100%;
        height: auto;
        margin-right: 0;
    }

    .servicios .innerServicios .bottom .innerBottom>div:nth-child(-n+2) {
        margin-bottom: 4em;
    }

    .servicios .innerServicios .bottom .innerBottom>div ul li {
        font-size: 1em;
    }

    .noticias .innerNoticias .bottom .innerBottom {
        padding: 0 2em;
    }

    .noticias .bottom .innerBottom .news h3,
    .noticias .bottom .innerBottom .link h3 {
        font-size: 1.1em;
    }

    .noticias .innerNoticias .bottom .innerBottom .subtitle p {
        font-size: 1em;
    }

    .noticias .bottom .innerBottom .link .innerLink .linkImage,
    .noticiasAll .bottom .innerBottom .link .innerLink .linkImage {
        width: unset;
    }

    .noticiasAll .innerNoticias .bottom .innerBottom {
        margin: 3em 0;
        padding: 2em;
    }

    .noticiasAll .innerNoticias .bottom .news .subtitle p {
        font-size: 1.2em;
    }

    .noticiasAll .innerNoticias .bottom .news .content p {
        font-size: 1.1em;
    }

    .showNoticia .innerShowNoticia .bottom .innerBottom {
        margin: 3em 0;
        padding: 2em;
    }

    .showNoticia .innerShowNoticia .bottom .subtitle p {
        font-size: 1.2em;
    }

    .showNoticia .innerShowNoticia .bottom .content p {
        font-size: 1.1em;
    }

    .noticias .bottom .innerBottom .news p,
    .noticias .bottom .innerBottom .link p {
        font-size: 1.1em;
    }

    .contacto .innerContacto .bottom .innerBottom {
        flex-direction: column;
        align-items: center;
    }

    .contacto .innerContacto .bottom .innerBottom .contactForm {
        width: unset;
    }

    .createUsers .innerCreateUsers .bottom .innerBottom,
    .editUsers .innerEditUsers .bottom .innerBottom,
    .employeesCreate .innerEmployeesCreate .bottom .innerBottom,
    .employeesEdit .innerEmployeesEdit .bottom .innerBottom,
    .addPermissions .innerAddPermissions .bottom .innerBottom,
    .editPermissions .innerEditPermissions .bottom .innerBottom,
    .createNoticia .innerCreateNoticia .bottom .innerBottom,
    .noticiasIntranetEdit .innerNoticiasIntranetEdit .bottom .innerBottom {
        margin-top: 4em;
        display: unset;
    }

    .createUsers .innerCreateUsers .bottom form,
    .editUsers .innerEditUsers .bottom form,
    .employeesCreate .innerEmployeesCreate .bottom form,
    .employeesEdit .innerEmployeesEdit .bottom form,
    .addPermissions .innerAddPermissions .bottom form,
    .editPermissions .innerEditPermissions .bottom form,
    .createNoticia .innerCreateNoticia .bottom form,
    .noticiasIntranetEdit .innerNoticiasIntranetEdit .bottom form {
        width: unset;
    }

    .payrollsForm .innerPayrollsForm .bottom form,
    .costsImputsForm .innerCostsImputsForm .bottom form,
    .othersDocumentsForm .innerOthersDocumentsForm .bottom form {
        width: 80%;
    }

    .editPass .innerEditPass .bottom,
    .editUser .innerEditUser .bottom {
        display: unset;
        justify-content: space-evenly;
    }

    .editPass .innerEditPass .bottom .divForm,
    .editUser .innerEditUser .bottom {
        width: 100%;
    }

    .editPass .innerEditPass .bottom .divForm form,
    .editUser .innerEditUser .bottom .divForm form {
        padding: 3em 2em 5em;
    }

    .payrollsDownload .innerPayrollsDownload .bottom form {
        width: 100%;
    }

    .payrollsForm .innerPayrollsForm .bottom form {
        width: 100%;
    }

    .costsImputsDownload .innerCostsImputsDownload .bottom form {
        width: 100%;
    }

    .costsImputsForm .innerCostsImputsForm .bottom form {
        width: 100%;
    }

    .othersDocumentsDownload .innerOthersDocumentsDownload .bottom form {
        width: 100%;
    }

    .othersDocumentsForm .innerOthersDocumentsForm .bottom form {
        width: 100%;
    }

    footer .websiwebs {
        display: flex;
        justify-content: center;
        margin: unset;
        padding: 0 1em;
    }

    footer .innerFooter .publicAdtion .innerPublicAdtion .iconLinks {
        display: unset;
    }

    footer .innerFooter .publicAdtion .innerPublicAdtion .innerIconLinks:nth-child(1) {
        margin: 1em 0 1em 0;
    }

    .maintenance .innerMaintenance .bottom .innerBottom {
        display: unset;
    }

    .maintenance .innerMaintenance .bottom .innerBottom .logo div {
        width: 10em;
    }

    .maintenance .innerMaintenance .bottom .innerBottom .logo h3 {
        font-size: 1.5em;
    }
}

@media (min-width: 667px) and (max-height: 428px) and (orientation: landscape) {
    /*MOBILES*/

    header nav .innerNav .logoMenu .logo .nameLogo h3 {
        font-size: 1.1em;
        line-height: 0.9;
    }

    header nav .innerNav .logoMenu .logo .nameLogo h3 span {
        font-size: 1.2em;
    }

    header .innerNav .mobileMenu .dropdown {
        right: 0;
    }

    header nav .innerNav .logoMenu .logo .imageLogo {
        width: 5em;
    }

    header .innerNav {
        display: flex;
        justify-content: space-between;
    }

    header .innerNav .mobileMenu {
        margin-right: 1em;
    }

    .bienvenidos .bottom {
        margin: 3em 0;
    }

    .bienvenidos .bottom p {
        font-size: 2vw;
    }

    .bienvenidos .bottom .innerBottom {
        margin: unset;
    }

    .equipo .innerEquipo .bottom {
        margin: 4em 0;
    }

    .equipo .innerEquipo .bottom .innerBottom {
        margin: 0;
    }
}

@media (min-width: 768px) and (max-height: 1366px) and (orientation: portrait) {
    /*IPAD's*/

    header .innerNav {
        display: flex;
        justify-content: space-between;
    }

    header .innerNav .mobileMenu .dropdown {
        right: 0;
    }

    .bienvenidos {
        min-height: 94vh;
    }

    .bienvenidos .bottom p {
        font-size: 1.3em;
    }

    .bienvenidos .bottom .innerBottom {
        margin: unset;
    }

    .equipo .bottom {
        gap: 5em;
        margin-top: unset;
    }

    .equipo .innerEquipo .bottom .innerBottom {
        margin: 8em 0;
    }

    .equipo .innerEquipo .bottom .innerBottom>div {
        max-width: 30%;
    }

    .servicios {
        min-height: 100vh;
    }

    .servicios .innerServicios .bottom .innerBottom>div .iconText h4 {
        font-size: 1.1em;
    }

    .servicios .innerServicios,
    .servicios .innerServicios .bottom {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        margin: 5em 0;
    }

    .servicios .innerServicios .bottom .innerBottom {
        display: flex;
        align-items: center;
    }

    .noticias {
        display: flex;
        flex-direction: column;
    }

    .contacto .innerContacto .contactData h4 {
        font-size: 1.3em;
    }

    .editPass .innerEditPass .bottom .divForm form {
        width: 100%;
    }

    .editUser .innerEditUser .bottom .divForm form {
        width: 100%;
    }

    .payrollsDownload .innerPayrollsDownload .bottom form {
        width: 100%;
    }

    .payrollsForm .innerPayrollsForm .bottom form {
        width: 100%;
    }

    .costsImputsDownload .innerCostsImputsDownload .bottom form {
        width: 100%;
    }

    .costsImputsForm .innerCostsImputsForm .bottom form {
        width: 100%;
    }

    .othersDocumentsDownload .innerOthersDocumentsDownload .bottom form {
        width: 100%;
    }

    .othersDocumentsForm .innerOthersDocumentsForm .bottom form {
        width: 100%;
    }

}

@media (max-width: 950px) {

    header .innerNav {
        display: flex;
        justify-content: space-between;
    }

    header .innerNav .logoMenu .menu,
    header .innerNav .intranetMenu {
        display: none;
    }

    header .innerNav .mobileMenu {
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 2em;
    }

    header .innerNav .mobileMenu .mobileMenuBtn {
        background-color: transparent;
        border: 0;
        display: flex;
        align-items: center;
    }

    header .innerNav .mobileMenu .innerMobileMenu {
        width: 2.2em;
        height: auto;
    }

    header .innerNav .mobileMenu .innerMobileMenu img {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    header .innerNav .mobileMenu .dropdown {
        position: absolute;
        display: none;
        z-index: 1;
        padding: 1em 2em;
        background-color: white;
    }

    header .innerNav .mobileMenu .dropdown a {
        display: block;
        margin-bottom: 1em;
        cursor: pointer;
    }

    .showMenu {
        display: block !important;
    }

}

@media (min-width: 1920px) {
    html {
        display: flex;
        justify-content: center;
    }

    body {
        width: 1440px;
    }
}